.b-button {
  /*display: inline-block;*/
  height: 32px;
  padding: 2px 15px 0 10px;
  border: solid 1px #005e8c;
  border-radius: 2px;
  font-family: MuseoSans-700;
  font-size: 13px;
  color: #fff;
  background-color: #0074ad;
}

.b-button_green {
  height: 34px;
  padding: 0 50px 0 50px;
  background-color: #8cc248;
  border: solid 1px #7db23a;
}

.b-button_apply {

  font-size: 15px;
  height: 44px;
  /*width: 244px;*/
}

.b-button_gray {
  background-color: #f2f2f2;
  border: solid 1px #cacaca;
  color: #626262;
}

.b-button_cancel {
  height: 34px;
  padding: 0 50px 0 50px;
}

.sprite-img {
  display: inline-block;
  vertical-align: middle;
}

.b-button__content {
  display: inline-block;
  vertical-align: middle;
}



.apply-button {
  @extend .b-button;
  background-color: #8cc248;
  border: solid 1px #7db23a;
  height: 44px;
  width: 244px;
}
.blue-button {

}
.greenButton {

}
.gray-button {
  @extend .b-button;

}