.b-dashboard__content{
  background-color: rgb(242,242,242);
  padding-top: 30px;
}

.b-gen-container {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #000000;
  padding: 10px 20px 30px 20px;
  margin-bottom: 30px;
  width: 925px;
  font-size: 13px;
  font-family: MuseoSans-300, sans-serif;
}

.b-gen-container__header-heading {
  vertical-align: middle;
  line-height: 25px;
  font-size: 15px;
  font-family: MuseoSans-700, sans-serif;
}
.b-gen-container__header-heading-text {
  margin: 0;
  padding: 0;
  font-size: 15px !important;
  font-family: MuseoSans-700, sans-serif !important;
}
.b-gen-container__button-container {
  text-align: right;

}
.b-gen-container__container-pane {
  background-color: #f2f2f2;
  border: 1px solid #dcdcdc;
  color: #626262;
  margin-top: 20px;
  padding: 20px;

}
.b-gen-container__container-pane_link_color {
  color: #697a83;
}

.b-gen-container__container-pane_row-distance {
  padding-left: 23px;
  list-style: none;
  position: relative;
  margin-bottom: 10px;
  color: #697a83;
}
.b-gen-container__container-pane_row-distance:before {
  content: "\2022";
  position: absolute;
  left: 14px;
  top: 0;
  font-size: 13px;
  color: #697a83;
}
.b-gen-container__container-pane_row-distance {
}



