*{
  margin: 0;
  padding: 0;
}
body{
  width: 1200px;
  margin:0 auto;
}

#header{
  background-color: #8cc248;
  height: 90px;
}
#navigation{
  background-color: rgb(70,70,70);
  height: 45px;

}

#content {

  background-color: red;
}