.b-header_lp-size{
  height: 80px;
}
.b-dashboard__nav-bar_lp-color{
  background-color: #0075AC;
  height: 53px;
}
.b-landing-page__footer{
  width: 958px;
  position: absolute;
  left: 0;
  bottom: 0;
}


.b-dashboard__content__lp-background{
  background-color: #fff;
  padding: 30px;
}

.b-landing-page-info{
  width: 900px;
  height: 241px;
 /* background-color:;*/
  margin: 50px 0 20px;
}
.b-landing-page-info__image{
  width: 270px;
  margin-right: 45px;
  float: left;
  text-align: center;
}
.b-info{
  width: 580px;
  float: left;
  padding-right: 20px;
  margin-top: -14px;
}
.b-info__title{
  font-family: MuseoSans500,sans-serif;
  font-size: 25px;
  margin:0.67em 0;
}
.b-info__text{
font-family: MuseoSans500,sans-serif;
  font-size: 14px;
  line-height: 20px;
}


