.b-gen-container__header-heading-text_size17{
  font-size: 17px;
}
.b-gen-container__button-wrapper{
  float:right;
  margin-top: 20px;
}
.b-button_left-margin{
  margin-left: 10px;
  padding: 0 54px 0 54px;
}

.b-gen-container__container-pane-form-padding{
  padding: 47px 0 41px 59px
}

.row-padding{
  padding-top: 36px;
}