.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow {
  width: 25px;
  height: 25px;
  background-position: -5px -5px;
}

.sprite-edit {
  width: 25px;
  height: 25px;
  background-position: -40px -5px;
}

.sprite-mail {
  width: 25px;
  height: 25px;
  background-position: -75px -5px;
}

.sprite-paper_copy {
  width: 25px;
  height: 25px;
  background-position: -5px -40px;
}

.sprite-pay {
  width: 25px;
  height: 25px;
  background-position: -40px -40px;
}

.sprite-plus {
  width: 25px;
  height: 25px;
  background-position: -75px -40px;
}

.sprite-sing_out {
  width: 25px;
  height: 25px;
  background-position: -5px -75px;
}

.sprite-upload {
  width: 25px;
  height: 25px;
  background-position: -40px -75px;
}

.sprite-upload_w {
  width: 25px;
  height: 25px;
  background-position: -75px -75px;
}

.sprite-user_info {
  width: 25px;
  height: 25px;
  background-position: -110px -5px;
}

.sprite-view {
  width: 25px;
  height: 25px;
  background-position: -110px -40px;
}

