.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow {
  width: 15px;
  height: 21px;
  background-position: -5px -5px;
}

.sprite-edit {
  width: 31px;
  height: 25px;
  background-position: -30px -5px;
}

.sprite-header1 {
  width: 36px;
  height: 36px;
  background-position: -71px -5px;
}

.sprite-header2 {
  width: 30px;
  height: 30px;
  background-position: -5px -51px;
}

.sprite-mail {
  width: 30px;
  height: 26px;
  background-position: -45px -51px;
}

.sprite-paper_copy {
  width: 31px;
  height: 29px;
  background-position: -117px -5px;
}

.sprite-pay {
  width: 30px;
  height: 25px;
  background-position: -117px -44px;
}

.sprite-plus {
  width: 22px;
  height: 24px;
  background-position: -85px -79px;
}

.sprite-upload {
  width: 29px;
  height: 24px;
  background-position: -117px -79px;
}