.b-gen-container {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  vertical-align: middle;
  line-height: 56px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 925px;

  ///-------------------------------header-pane
  .b-gen-container__header-pane {
    vertical-align: middle;
    line-height: 56px;
  }
  .b-gen-container__header-heading {
    vertical-align: middle;
    line-height: 56px;
  }

  .b-gen-container__button-container {
    text-align: right;
  }

  ///-------------------------------container-pane
  .b-gen-container__container-pane {
    background-color: #f2f2f2;
    border: 1px solid #dcdcdc;
    color: #626262;
    margin-top: 20px;
    padding: 15px;

    .b-gen-container__container-pane_link_color {
      color: #697a83;
    }

    .b-gen-container__container-pane_marker-distance {
      color: #697a83;
      margin: 0 0 0 0;
    }
  }
}




